@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prompt:wght@500&display=swap');

.easy{
    font-family: 'Poppins', sans-serif;
    font-size: 62px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 130px;
    padding: 14px;
}